header
    padding: 10px 0

.logo img
    width: 80px
    margin-right: 10px

.search-container
    max-width: 600px
    position: relative

    input[type="text"]
        width: 100%
        padding: 8px 15px
        border: 1px solid #ddd
        border-radius: 20px
        outline: none

    .search-btn
        background: none
        border: none
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
        padding: 0

.icons a
    margin-left: 10px
    color: black
